## Problem 1: Unique Words in a Sentence

In [2]:
#take input from the user
sentence = input("Enter sentence: ")

# Split sentence into words using space
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  MD JAVEED KHAN

Unique words count: 3
Unique words: {'MD', 'JAVEED', 'KHAN'}

## Problem 2: Highest Salary from Employee Data

In [4]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Initialize variables to track the highest values
max_salary = 0
highest_employee = None

# Iterate through the dictionary items
for name, salary in employees.items():
    if salary > max_salary:
        max_salary = salary
        highest_employee = name

print(f"Highest Salary: {highest_employee} - {max_salary}")

Highest Salary: Ravi - 75000

## Problem 3: Find Maximum and Minimum Values

In [6]:
numbers = [45, 22, 89, 10, 66]

# Assuming first number from the list as both max and min
maximum = numbers[0]
minimum = numbers[0]

# Compare each number in list
for num in numbers:
    #if num is greaterthan maximum then num will be the maximum
    if num > maximum:
        maximum = num
    #if num is lessthan minimmum then num will  be the minimum  
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

## Problem 4: Count Products Above a Price Threshold

In [7]:
prices = [450, 1200, 899, 1500, 300]
#Set initial count with zero
count = 0

# Check each price
for price in prices:
    #if price is greaterthan 1000 then count increase by 1
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

## Problem 5: Calculate Attendance Percentage

In [10]:
attendance = ["P", "P", "A", "P", "P"]

#present count initial set to zero
present_count = 0

# Count number of Present days
for day in attendance:
    #if the day is present then count increase by 1
    if day == "P":
        present_count += 1
#calculating the percentage
percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

## Problem 6: Remove Duplicate Phone Numbers

In [11]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

## Problem 7: Count Character Frequency

In [13]:
text = "python"

#initialising empty dict to store/count the frequency 
frequency = {}

# Loop through each character
for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print("Character Frequency:", frequency)

Character Frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## Problem 8: Convert List to Tuple

In [15]:
list1 = [10, 20, 30]

# Convert using tuple() function
tuple1 = tuple(list1)

print("Tuple:",tuple1)

Tuple: (10, 20, 30)

## Problem 9: Check if a Key Exists in a Dictionary

In [18]:
employee= {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}

#set key as ravi
key = "Ravi"

# Check key existence using 'in'
if key in employee:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

## Problem 10: Calculate Average Marks

In [19]:
marks = [70, 75, 80, 65]

# Calculate sum of marks
total = sum(marks)

# Calculate average
average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5